## Final Data Processing -- Acoustic Data

This script takes the acoustic deployment dates CSV (2008-2018) and reformats it for plotting.

In [1]:
import pandas as pd

In [2]:
# read in acoustic deployment CSV (received from Enrico on 3/25/21)
ccb = pd.read_csv('/Users/cristiana/Documents/Duke/MP/Python/Data/Raw/Acoustic/Acoustic_deployments_2008-2018.csv',
                 sep = ',',
                 encoding = 'utf-8',
                 parse_dates = ['deployDate','recoveryDate'])
ccb

  deployDate recoveryDate
0 2008-02-23   2008-05-20
1 2009-02-17   2009-05-16
2 2010-03-08   2010-05-05
3 2011-02-17   2011-05-08
4 2013-01-28   2013-05-06
5 2014-03-01   2014-05-21
6 2015-02-17   2015-05-21
7 2016-02-15   2016-05-25
8 2017-02-21   2017-05-16
9 2018-02-13   2018-05-30

In [ ]:
# add between days column, explode out (row for each day)
ccb_group2['between_days'] = ccb_group2.apply(lambda row: pd.date_range(row['deployDate'],row['recoveryDate'],freq='D'), axis=1)
ccb_days = ccb_group2.explode('between_days')
ccb_days

In [4]:
# create between_days column that fills in days between deployDate and recoveryDate
ccb['between_days'] = ccb.apply(lambda row: pd.date_range(row['deployDate'],row['recoveryDate'],freq='D'), axis=1)

# explode out between_days so there is one record per day
ccb_explode = ccb.explode('between_days')

ccb_explode

   deployDate recoveryDate between_days
0  2008-02-23   2008-05-20   2008-02-23
0  2008-02-23   2008-05-20   2008-02-24
0  2008-02-23   2008-05-20   2008-02-25
0  2008-02-23   2008-05-20   2008-02-26
0  2008-02-23   2008-05-20   2008-02-27
..        ...          ...          ...
9  2018-02-13   2018-05-30   2018-05-26
9  2018-02-13   2018-05-30   2018-05-27
9  2018-02-13   2018-05-30   2018-05-28
9  2018-02-13   2018-05-30   2018-05-29
9  2018-02-13   2018-05-30   2018-05-30

[885 rows x 3 columns]

In [9]:
# create clean acoustic CSV for plotting
acoustic_clean = ccb_explode[['between_days']]

# create data type column
acoustic_clean['DataType'] = 'Acoustic' 

# rename date column
acoustic_clean.rename(columns = {'between_days':'Date'})

acoustic_clean

/Users/cristiana/anaconda3/envs/geo_altair/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   between_days  DataType
0    2008-02-23  Acoustic
0    2008-02-24  Acoustic
0    2008-02-25  Acoustic
0    2008-02-26  Acoustic
0    2008-02-27  Acoustic
..          ...       ...
9    2018-05-26  Acoustic
9    2018-05-27  Acoustic
9    2018-05-28  Acoustic
9    2018-05-29  Acoustic
9    2018-05-30  Acoustic

[885 rows x 2 columns]